Repository carlulsoe/thesis-library: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    test:
      glob: "*.{js,ts, jsx, tsx, test.tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

test: updates test
  lefthook.yml
  src/__tests__/arithmetic.test.tsx
Due: lint

docs: added typedoc to package, examples and how to compile the docs
  CONTRIBUTING.md
  package.json
  src/extra/arithmetic.tsx
Due: lint

chore: yarn.lock updated with an additional package
  yarn.lock
Due: none

test: updates test
  src/__tests__/arithmetic.test.tsx
Due: lint

docs: adding the docs files
  docs/documentation/.nojekyll
  docs/documentation/assets/highlight.css
  docs/documentation/assets/main.js
  docs/documentation/assets/navigation.js
  docs/documentation/assets/search.js
  docs/documentation/assets/style.css
  docs/documentation/functions/add.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  docs/documentation/index.html
  docs/documentation/modules.html
  package-lock.json
Due: lint, types, test

chore: added lintignore
  .eslintignore
Due: none

chore: fixed line endings as auto
  package.json
Due: none

chore: updated package.json and lock files with compile_docs command
  package-lock.json
  package.json
  yarn.lock
Due: none

chore: adds contributors to package.json
  package.json
Due: none

chore: updates lefthook
  docs/documentation/.nojekyll
  docs/documentation/assets/navigation.js
  docs/documentation/assets/search.js
  docs/documentation/functions/add.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  docs/documentation/index.html
  docs/documentation/modules.html
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: lint, types, test

feat: adds start of attention mechanism
  src/__tests__/attention.test.tsx
  src/extra/attention.tsx
Due: lint

chore: update lefthook lint
  lefthook.yml
  src/extra/attention.tsx
Due: lint

chore: adds fluid-framework dependency
  package.json
  yarn.lock
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: updates lefthook to auto include typedocs
  lefthook.yml
Due: none

feat: adds attention to library
  docs/documentation/functions/add.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  src/extra/index.tsx
  src/index.tsx
Due: lint

chore: updates lefthook docs command
  docs/documentation/assets/navigation.js
  docs/documentation/assets/search.js
  docs/documentation/functions/attention.html
  docs/documentation/functions/setAttention.html
  docs/documentation/index.html
  docs/documentation/modules.html
  lefthook.yml
Due: lint, types, test

chore: simplifies library export and remove one test
  docs/documentation/functions/add.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  docs/documentation/functions/setAttention.html
  src/__tests__/index.test.tsx
  src/index.tsx
Due: lint

test: removes index test file
  src/__tests__/index.test.tsx
Due: lint

feat: adds fluid framework code
  package.json
  src/extra/attention.tsx
  src/extra/clientProps.tsx
  src/extra/fluid.tsx
  yarn.lock
Due: lint

test: adds a test
  docs/documentation/functions/add.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  docs/documentation/functions/setAttention.html
  src/__tests__/attention.test.tsx
Due: lint

test: adds a test
  src/__tests__/clientProps.test.tsx
Due: lint

test: removes arithmethic tests and code
  docs/documentation/functions/add.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  docs/documentation/functions/setAttention.html
  src/__tests__/arithmetic.test.tsx
  src/extra/arithmetic.tsx
Due: lint

fix: app.tsx imported multiply
  example/src/App.tsx
  src/extra/index.tsx
Due: lint

feat: added basic canvas which can use a setup function
  example/src/App.jsx
  example/src/App.tsx
  src/canvas/canvas.jsx
  src/canvas/index.tsx
  src/index.tsx
Due: lint

feat: canvas is now typescript
  src/canvas/Canvas.types.ts
  src/canvas/index.tsx
  tsconfig.json
Due: lint, types, test

feat: canvas is now typescript
  src/canvas/canvas.jsx
  src/canvas/canvas.tsx
Due: lint

test: adds a test
  package-lock.json
  package.json
  src/__tests__/__snapshots__/canvas.test.tsx.snap
  src/__tests__/canvas.test.tsx
  yarn.lock
Due: lint

chore: updates the docs
  docs/documentation/assets/navigation.js
  docs/documentation/assets/search.js
  docs/documentation/functions/Canvas.html
  docs/documentation/functions/add.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/divide.html
  docs/documentation/functions/multiply.html
  docs/documentation/functions/setAttention.html
  docs/documentation/index.html
  docs/documentation/modules.html
Due: lint, types, test

feat: adds cameraAppExample
  cameraAppExample/App.js
  cameraAppExample/app.json
  cameraAppExample/assets/adaptive-icon.png
  cameraAppExample/assets/favicon.png
  cameraAppExample/assets/icon.png
  cameraAppExample/assets/splash.png
  cameraAppExample/babel.config.js
  cameraAppExample/metro.config.js
  cameraAppExample/package.json
  cameraAppExample/src/App.jsx
  cameraAppExample/tsconfig.json
  cameraAppExample/webpack.config.js
  package.json
  tsconfig.build.json
  yarn.lock
Due: lint, types, test

chore: updates expo/webpack-config
  cameraAppExample/package.json
  example/package.json
  yarn.lock
Due: none

chore: cameraApp package
  cameraAppExample/package.json
  cameraAppExample/src/App.jsx
  cameraAppExample/src/App.tsx
  yarn.lock
Due: lint

feat: added circle on touchmove
  example/src/App.jsx
  src/canvas/TouchHandler.tsx
  src/canvas/canvas.tsx
Due: lint

chore: updated yarn.lock
  yarn.lock
Due: none

test: adds test
  cameraAppExample/src/__tests__/app.test.tsx
Due: lint

chore: renames cameraAppExample to exampleCameraApp
  exampleCameraApp/App.js
  exampleCameraApp/app.json
  exampleCameraApp/assets/adaptive-icon.png
  exampleCameraApp/assets/favicon.png
  exampleCameraApp/assets/icon.png
  exampleCameraApp/assets/splash.png
  exampleCameraApp/babel.config.js
  exampleCameraApp/metro.config.js
  exampleCameraApp/package.json
  exampleCameraApp/src/App.tsx
  exampleCameraApp/src/__tests__/app.test.tsx
  exampleCameraApp/tsconfig.json
  exampleCameraApp/webpack.config.js
  package.json
  tsconfig.build.json
  yarn.lock
Due: lint, types, test
