Repository carlulsoe/thesis-library: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files} --fix
      stage_fixed: true
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    docs:
      run: yarn compile_docs
      stage_fixed: true
pre-push:
  commands:
    test:
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: no test
  exampleCameraApp/src/__tests__/app.test.tsx
Due: lint

docs: added some canvas docs
  docs/documentation/assets/navigation.js
  docs/documentation/assets/search.js
  docs/documentation/functions/Canvas.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/setAttention.html
  docs/documentation/index.html
  docs/documentation/interfaces/CanvasProps.html
  docs/documentation/modules.html
  example/src/App.jsx
  src/__tests__/canvas.test.tsx
  src/canvas/Canvas.types.ts
  src/canvas/canvas.tsx
  src/canvas/index.tsx
Due: lint, types

feat: useWindowDimensions to make fullscreen
  example/src/App.jsx
Due: lint

feat: optional setup and size
  example/src/App.jsx
  src/__tests__/canvas.test.tsx
  src/canvas/Canvas.types.ts
  src/canvas/TouchHandler.tsx
  src/canvas/canvas.tsx
Due: lint, types

docs: updated docs with new setup and size params
  docs/documentation/assets/navigation.js
  docs/documentation/assets/search.js
  docs/documentation/functions/Canvas.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/setAttention.html
  docs/documentation/index.html
  docs/documentation/interfaces/CanvasProps.html
  docs/documentation/interfaces/CanvasSize.html
  docs/documentation/modules.html
  example/src/App.jsx
  src/canvas/Canvas.types.ts
  src/canvas/index.tsx
Due: lint, types

docs: text about props
  docs/documentation/functions/Canvas.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/setAttention.html
  docs/documentation/interfaces/CanvasProps.html
  docs/documentation/interfaces/CanvasSize.html
  src/canvas/canvas.tsx
Due: lint

test: updated canvas tests to have all 4 configuration of setup or not, and size or not
  src/__tests__/__snapshots__/canvas.test.tsx.snap
  src/__tests__/canvas.test.tsx
Due: lint

chore: update lefthook
  lefthook.yml
Due: none

feat: fluidframework works on web only, with no structure yet
  example/src/App.jsx
  package.json
  yarn.lock
Due: lint

fix: warning with ===
  src/canvas/canvas.tsx
Due: lint

feat: added note with how to run the server
  example/src/App.jsx
Due: lint

feat: fluid example now works with input text box instead of key in url
  example/src/App.jsx
Due: lint

feat: updates example
  example/src/App.jsx
Due: lint

feat: updates yarn and some other stuff
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  example/app.json
  example/src/App.jsx
  package.json
  src/extra/faceDetect.tsx
  src/extra/index.tsx
  yarn.lock
Due: lint

feat: face detection that does not work on web
  .devcontainer/devcontainer.json
  app.json
  package.json
  src/extra/faceDetect.tsx
  yarn.lock
Due: lint

chore: fuck this linter
  lefthook.yml
Due: none

docs: added example to canvas creation
  docs/documentation/assets/highlight.css
  docs/documentation/functions/Canvas.html
  docs/documentation/functions/attention.html
  docs/documentation/functions/setAttention.html
  docs/documentation/interfaces/CanvasProps.html
  docs/documentation/interfaces/CanvasSize.html
  src/canvas/Canvas.types.ts
  src/canvas/canvas.tsx
Due: lint, types

fix: linter issues
  package.json
  src/extra/faceDetect.tsx
  src/extra/nativeFaceDetect.tsx
  yarn.lock
Due: lint

chore: adds devcontainer
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: none

chore: adds gradle to devcontainer
  .devcontainer/devcontainer.json
  .gitignore
  example/app.json
  example/package.json
Due: none

chore: fd does not work on web
  .devcontainer/devcontainer.json
  example/src/App.jsx
  src/extra/faceDetect.tsx
Due: lint

chore: removed vision stuff
  example/src/App.jsx
  package.json
  src/extra/faceDetect.tsx
  src/extra/nativeFaceDetect.tsx
  yarn.lock
Due: lint

feat: updates attention to contain ff
  app.json
  babel.config.js
  example/src/App.jsx
  package.json
  src/__tests__/attention.test.tsx
  src/extra/attention.tsx
  src/extra/index.tsx
  yarn.lock
Due: lint, types

feat: added canvas example and fixed resizing bug
  exampleCanvas/App.js
  exampleCanvas/app.json
  exampleCanvas/assets/adaptive-icon.png
  exampleCanvas/assets/favicon.png
  exampleCanvas/assets/icon.png
  exampleCanvas/assets/splash.png
  exampleCanvas/babel.config.js
  exampleCanvas/metro.config.js
  exampleCanvas/package.json
  exampleCanvas/src/App.jsx
  exampleCanvas/tsconfig.json
  exampleCanvas/webpack.config.js
  package-lock.json
  package.json
  src/canvas/TouchHandler.tsx
  src/extra/maths.ts
Due: lint, types

feat: added yarn lock thing for my new example
  yarn.lock
Due: none

feat: updates attention
  example/src/App.jsx
  src/extra/attention.tsx
Due: lint

feat: attention work
  src/extra/attention.tsx
  src/extra/index.tsx
Due: lint

feat: focus now works
  example/src/App.jsx
  src/extra/attention.tsx
  src/extra/index.tsx
Due: lint

feat: adds uuid
  src/extra/attention.tsx
Due: lint

feat: svg canvas works on phone, not web
  exampleCanvas/src/App.jsx
  package.json
  src/canvas/Canvas.types.ts
  src/canvas/TouchHandler.tsx
  src/canvas/canvas.tsx
  src/canvas/index.tsx
  src/extra/attention.tsx
  yarn.lock
Due: lint, types

test: deleted old tests
  src/__tests__/__snapshots__/canvas.test.tsx.snap
  src/__tests__/canvas.test.tsx
Due: lint

feat: canvas colors + options menu
  lefthook.yml
  package.json
  src/canvas/canvas.tsx
  yarn.lock
Due: lint

fix: canvas works on web, small difference based on os
  src/canvas/canvas.tsx
Due: lint

test: deleted canvas test as it doesn't work
  src/__tests__/__snapshots__/canvas.test.tsx.snap
  src/__tests__/canvas.test.tsx
Due: lint

feat: updates stuff
  src/extra/attention.tsx
  src/extra/changeHandler.tsx
  src/extra/idleDetector.tsx
  src/extra/index.tsx
  src/extra/meh.tsx
  src/extra/shareTimeStamp.tsx
Due: lint

feat: adds uuid to detector
  src/extra/changeHandler.tsx
  src/extra/idleDetector.tsx
  src/extra/meh.tsx
Due: lint

feat: started making example into library, works only in web
  example/src/App.jsx
  src/extra/fluid.tsx
  src/extra/index.tsx
Due: lint

chore: moved stuff to idleDetector
  .eslintignore
  src/extra/changeHandler.tsx
  src/extra/idleDetector.tsx
  src/extra/index.tsx
  src/extra/meh.tsx
Due: lint

feat: i assume this is correct
  src/extra/attention.tsx
  src/extra/idleDetector.tsx
Due: lint
