Repository carlulsoe/thesis-library: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files} --fix
      stage_fixed: true
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    docs:
      run: yarn compile_docs
      stage_fixed: true
pre-push:
  commands:
    test:
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: components folder and own type
  example/src/App.jsx
  src/components/Component.ts
  src/components/canvas.tsx
  src/components/index.tsx
  src/extra/fluid.tsx
  src/index.tsx
Due: lint, types

fix: example so far
  src/extra/attention.tsx
  src/extra/idleDetector.tsx
Due: lint

Revert "refactor: components folder and own type"
  example/src/App.jsx
  src/canvas/canvas.tsx
  src/canvas/index.tsx
  src/components/Component.ts
  src/extra/fluid.tsx
  src/index.tsx
Due: lint, types

refactor: updateTime function
  example/src/App.jsx
Due: lint

chore: refactored fluid.tsx
  src/extra/fluid.tsx
Due: lint

fix: it now works better
  exampleCameraApp/src/App.tsx
  src/extra/idleDetector.tsx
Due: lint

chore: adds eslint react hooks plugin
  package.json
  yarn.lock
Due: none

feat: attention now works
  src/extra/fluid.tsx
  src/extra/idleDetector.tsx
Due: lint

refactor: removes old attention
  src/extra/attention.tsx
  src/extra/idleDetector.tsx
  src/extra/index.tsx
Due: lint

feat: canvas now syncs
  example/src/App.jsx
  src/__tests__/tools.text.tsx
  src/canvas/canvas.tsx
  src/extra/maths.ts
  src/extra/tools.ts
Due: lint, types

refactor: better prop variable names
  example/src/App.jsx
  src/canvas/canvas.tsx
Due: lint

feat: added optional way to get containerId
  example/src/App.jsx
  src/canvas/canvas.tsx
  src/extra/fluid.tsx
Due: lint

refactor: better initialstate and if not connected
  example/src/App.jsx
Due: lint

refactor: folders for different key parts
  src/attention/attention.tsx
  src/attention/index.tsx
  src/components/canvas.tsx
  src/components/index.tsx
  src/connection/clientProps.tsx
  src/connection/fluid.tsx
  src/connection/index.tsx
  src/extra/index.tsx
  src/index.tsx
Due: lint

feat: adds props to attention
  src/attention/attention.tsx
Due: lint

feat: adds s3 storage
  .gitignore
  exampleCameraApp/app.json
  exampleCameraApp/package.json
  exampleCameraApp/src/App.tsx
  package.json
  src/attention/attention.tsx
  yarn.lock
Due: lint

refactor: first step in context based communication
  example/src/App.jsx
  src/components/canvas.tsx
  src/connection/ConnectionContext.ts
  src/connection/fluid.tsx
Due: lint, types

feat: created new hook which works with simple custom time component
  example/src/App.jsx
  src/connection/ConnectionContext.ts
  src/connection/fluid.tsx
  src/connection/useAutoUpdater.tsx
Due: lint, types

refactor: nicer inline if
  src/components/canvas.tsx
Due: lint

feat: autoupdater works with canvas
  example/src/App.jsx
  src/components/canvas.tsx
  src/connection/useAutoUpdater.tsx
Due: lint

feat: converted attention to new connect practise
  exampleCameraApp/src/App.tsx
  package.json
  src/attention/attention.tsx
  webcamtest.html
  yarn.lock
Due: lint

chore: deleted print statements
  src/connection/fluid.tsx
Due: lint

chore: export notnull context
  src/connection/ConnectionContext.ts
Due: lint, types

feat: adds face detection
  exampleCameraApp/assets/models/tiny_face_detector_model-shard1
  exampleCameraApp/assets/models/tiny_face_detector_model-weights_manifest.json
  src/attention/WebcamCapture.tsx
  src/attention/attention.tsx
Due: lint

feat: focus now considers face detect
  src/attention/attention.tsx
Due: lint

feat: added copy id and more compact style
  example/src/App.jsx
  package.json
  src/components/canvas.tsx
  src/connection/fluid.tsx
  src/connection/useAutoUpdater.tsx
  yarn.lock
Due: lint

fix: minor changes
  src/attention/attention.tsx
Due: lint

feat: detector is now fertile
  exampleCameraApp/src/App.tsx
  src/attention/attention.tsx
Due: lint

refactor: framework setup at the bottom
  src/attention/attention.tsx
  src/connection/fluid.tsx
Due: lint

refactor: killed some warnings and linting errors
  src/attention/attention.tsx
Due: lint

refactor: killed another linting errors
  exampleCameraApp/src/App.tsx
Due: lint

refactor: made an error into a todo
  src/components/canvas.tsx
Due: lint

fix: prevents spamming for the face model
  src/attention/attention.tsx
Due: lint

refactor: added nicer initialMap
  exampleCameraApp/src/App.tsx
  src/attention/attention.tsx
Due: lint

feat: canvas just works now
  exampleCanvas/src/App.jsx
  src/components/canvas.tsx
Due: lint

refactor: attention into more files
  src/attention/attention.tsx
  src/attention/detector.tsx
  src/attention/index.tsx
  src/extra/index.tsx
  src/extra/props.tsx
Due: lint

chore: adds todo
  src/attention/detector.tsx
Due: lint

refactor: image refactor
  exampleCameraApp/src/App.tsx
  exampleCameraApp/src/imageController.tsx
  src/models/tiny_face_detector_model-shard1
  src/models/tiny_face_detector_model-weights_manifest.json
Due: lint

refactor: images
  static/tiny_face_detector_model-shard1
  static/tiny_face_detector_model-weights_manifest.json
Due: none

refactor: semi-strategy pattern for reaction
  src/attention/attention.tsx
  src/attention/faceDetection.tsx
  src/attention/index.tsx
  src/attention/reactionDetection.tsx
  src/extra/index.tsx
  src/extra/props.tsx
Due: lint
